@font-face {
  font-family: 'iconfont';  /* Project id 2667500 */
  src: url('//at.alicdn.com/t/font_2667500_r02b76qlxdp.woff2?t=1626110050899') format('woff2'),
       url('//at.alicdn.com/t/font_2667500_r02b76qlxdp.woff?t=1626110050899') format('woff'),
       url('//at.alicdn.com/t/font_2667500_r02b76qlxdp.ttf?t=1626110050899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

